.formcenter {
  width: 40%;
  background-color: white;
  border: 1px outset white;
  border-radius: 10px;
  margin: 20px 50px 20px 0;
  padding: 20px 35px 0 35px;
}

body {
  background-image: url("background.jpg");
  background-repeat: inherit;
  display: flex;
  justify-content: center;
}

span {
  color: red;
}